##
# @author Forrest Jablonski
#

# vs specific
.vscode/

# build (cmake) specific
build/

# tmp files
*.o
*.out
*.Po
*.po
*.Plo
*.plo
*.lo

*pyc

# TODO look up git submodules
#      also the cppyy directory isn't used - it is installed - but still good to have as a submodule
# cppyy (third-party dependency)
unittests/cppyy/
fmt/

# libraries
*.so

# python virtual environment
venv/
