##
# @author Forrest Jablonski
#

# vs specific
.vscode/

# build (cmake) specific
build/

# tmp files
*.o
*.out
*.Po
*.po
*.Plo
*.plo
*.lo

*pyc

# TODO
# cppyy (third-party dependency)
unittests/cppyy/

# libraries
*.so

# python virtual environment
venv/
